

:root{
    --primary : #d50707;
}

.primary {
    color: var(--primary);
}
.bg-primary{
    background-color: var(--primary);
}

.container{
    width: 90%;
    margin: auto;
}
.activeh:hover{
    font-weight: 600;
    color: rgb(255, 242, 0);
}
.active{
    color:rgb(255, 242, 0);
}